<div class="d-flex align-items-center justify-content-center vh-100 vw-100">
  <div class="card shadow login-card">
    <div class="card-body p-5">
      <div class="text-center">
        <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
      </div>
      <h3 class="card-title text-center mt-2">Forgot Password</h3>
      <p style="color: lightslategray; text-align: center">
        Please enter your registered email
      </p>
      <form action="" method="" class="mt-5">
        <div class="form-group">
          <input type="email" id="email" placeholder="Email Address" class="form-control" name=""/>
        </div>
        <input type="submit" class="btn btn-primary w-100" value="Reset Password Link" name="">
      </form>
    </div>
    <div class="card-footer text-end">
      <button class="btn text-body-secondary" [routerLink]="'/login'">Back to Login</button>
    </div>
  </div>
</div>
