<nav class="header">
  <div class="text-light d-flex align-items-center justify-content-between px-3">
    <div>
      <h1><a class="navbar-brand" href="#">Header</a></h1>
    </div>
    <div class="w-25">
      <ul class="d-flex justify-content-between list-unstyled m-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./about">About</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./services">Services</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="./contact">Contact</a>
        </li>
      </ul>
    </div>
    <button type="button" class="btn btn-outline-light" (click)="logout()">Logout</button>
  </div>
</nav>
